@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Сообщение отравлено";
}

<h2>Сообщение уже было отравлено.Следующие сообщение можно отправлять после  @ViewBag.SendDate.</h2>
